<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% if (folders.length > 0) { %> <% folders.forEach(folder => { %>
      <li>
        <div
          class="folder px-8 py-4 bg-gray-200 border-b border-gray-800 shadow hover:bg-gray-100 cursor-pointer relative"
          onclick="loadFolderContents(<%= folder.id %>)"
        >
          <div class="flex gap-1">
            <img src="folder.png" alt="folder photo" class="w-6" />
            <p class="font-normal"><%- folder.name %></p>
          </div>

          <div class="absolute top-4 right-4 flex space-x-2">
            <button
              class="px-3 py-1 bg-white rounded hover:bg-slate-100 border shadow shadow-gray-200"
              onclick="event.stopPropagation(); loadFolderFormUpdate(<%= folder.id %>)"
            >
              <img src="pen.png" alt="update icon" class="w-6" />
            </button>

            <a
              href="/folder/delete-folder/<%= folder.id %>"
              class="px-3 py-1 bg-white rounded hover:bg-slate-100 shadow-gray-200"
              onclick="event.stopPropagation();"
            >
              <img src="delete.png" alt="delete icon" class="w-6" />
            </a>

            <button
              class="px-3 py-1 bg-white rounded hover:bg-slate-100 border shadow shadow-gray-200"
              onclick="event.stopPropagation(); loadShareLink(<%= folder.id %>) "
            >
              <img src="share.png" alt="share icon" class="w-6" />
            </button>
          </div>
        </div>
      </li>
      <% }) %> <% } else { %>
      <li>
        <p class="text-gray-500">No folders available.</p>
      </li>
      <% } %>
    </ul>
  </body>
</html>
